/*  CSS STYLING  */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Poppins:wght@200&family=Roboto:wght@300&family=Ubuntu:wght@300;400&display=swap');

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  all: none;
}

body
{
  width: 100%;
  height: 100vh;

  background: linear-gradient(to right , black , rgb(56, 55, 55) , black);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Ubantu , sans-serif;
}

/* main container */

.mainContainer
{
  width: 400px;
  height: 70%;

  background-color: rgb(228, 225, 225);

  border-radius: 20px;

  margin-top: 40px;

  box-shadow: 2px 2px 18px rgb(0, 166, 255);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* image container */

.image
{
  width: 290px;
  height: 295px;

  position: absolute;
  z-index: 1;

  top: 60px;

  border-radius: 20px;

  box-shadow: 2px 4px 15px rgb(0, 0, 0);
}

.image > img
{
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 20px;
}


/* artist and song */

.text
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 37%;

  z-index: 2;
}

.songName
{
  font-size: 1.7rem;
  font-weight: 400;
}

.artistName
{
  font-size: 1.2rem;

  padding-top: 5px;
}


/* slider */
.slider
{
  position: absolute;
  z-index: 2;

  bottom: 30%;

  display: none;
}

/* progress */

.progress-container
{
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 23%;

  top: 65%;

  position: absolute;
  z-index: 2;
}

.progress
{
  background: #242323;
  border-radius: 5px;
  height: 100%;

  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper
{
  position: relative;
  top: -20px;
  display: flex;
  justify-content: space-between;
}



.github
{
  position: absolute;
  z-index: 10;

  left: 30px;
  top: 30px;
}


/* controls */

.controls
{
  position: absolute;
  z-index: 2;
  top: 75%;
}

.controls > i
{
  font-size: 2.5rem;
  color: rgb(0, 0, 0);

  text-shadow: 1px 1px 2px rgb(0, 166, 255);
  padding-left: 10px;
  padding-right: 10px;

  cursor: pointer;
  user-select: none;
}

.controls > i:hover
{
  color: rgb(0, 166, 255);
  text-shadow: 1px 1px 2px black;
}



.fa-github-alt
{
  color: white;
  padding: 3px;

  font-size: 3rem;

  text-shadow: 2px 2px 2px rgb(0, 166, 255);
}

.fa-github-alt:hover
{
  color: rgb(0, 166, 255);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
